@model IEnumerable<Biblioteka.Web.DAL.Entities.Autor>

@{
    ViewData["Title"] = "Autori";
}

<h1 class="text-center">Autori</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biografija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @(string.Join(" ", item.Biografija.Split().Take(8)))...
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.aId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.aId">Details</a> |
                    <a asp-action="Delete"  asp-route-id="@item.aId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
